# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/
env/

# Resultados y datos generados
resultados/
logs/
cache/

# Archivos temporales
.DS_Store
Thumbs.db

# Configuración de VS Code (opcional)
.vscode/